.navigation {
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: #ffb2cb;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 750px;
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  margin: 0; 
  list-style-type: none;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
  color: #333;
  text-align: center;
}

.nav-item span {
  font-size: 12px;
  margin-top: 5px;
}

.nav-item a:hover {
  color: #f03e6a;
}

.nav-item svg {
  transition: all 0.3s ease-in-out;
}

.nav-item a:hover svg {
  transform: scale(1.2);
}
